body {
  background-color: black;
  color: white;
}

h1 {
  color: grey;
}

.main-menu {
  font-size: 20px;
}

ul {
  list-style-type: none;
}

a {
  color: white;
}


// Hamburger Menu

/* Стили для гамбургера */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 1001; /* Поверх меню */
}

.hamburger-item {
  height: 4px;
  width: 50px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Скрытое меню */
.main-nav {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.main-nav.open {
  display: block;
}


@media screen and (max-width: 700px) {
  .main-menu {
  font-size: 30px;
}

}
